  body{
    background-image: url(./whac\ a\ mole.png);
    background-size: cover; 
    font-family: Arial, sans-serif;
  }

  #mole {
    width: 200px;
    height: 200px;
    background-image: url('./exercicis/Ex4/topoNo.jpg');
    background-size: cover;
    cursor: pointer;
  }

  #container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 700px; 
    margin: auto;
  }

  #container div {
    margin: 10px;
  }

  h1 {
    text-align: center;
    color: crimson; 
  }

  #score {
    color:darkblue; 
  }

  @media screen and (max-width: 600px) {
    #container {
      max-width: 90%; 
    }

    #mole {
        width: 100px; 
        height: 100px; 
      }
    }